.componente1-fondo{
    color: black;
    background-image: url(https://terraria.org/static/media/background.ea292d81.jpg);
    display: block;
    margin: auto;
    background-color: hsl(0, 0%, 90%);
}